h1{
    color: red;
    text-align: center;
    font-size: 80px;
}
p{
    color: aqua;
}

/* Comentário */ 

.txt{
    color: green;
}

#title-h1{
    color: orange;
}

.nome{
    color: red;
}

.hexa{
    color: #1f2df5;
}

.rgba{
    color: rgba(44, 167, 65, 0.712);
}